* {
  margin: 0;
  box-sizing: border-box;
}
.main.container {
  /* background-color: rgb(221, 219, 219); */
  background-color: rgb(44, 44, 43);
  height: 100%;
  min-height: 43rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 5px;
}
h1 {
  color: white;
  text-align: center;
}
.new-city-button {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
#btns-body {
  min-height: 1rem;
}

.reset {
  align-items: center !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#current-body {
  min-height: 18rem;
  text-align: center;
}
#current-div-display {
  background-color: #4b9ffa;
  color: white;
  margin-bottom: 1rem;
}
#current-uv-index {
  color: white;
}
p {
  line-height: 40%;
}
.current-display,
.add-buttons {
  margin-top: 1rem;
}
.forecast {
  min-height: 14rem;
  margin-bottom: 1rem;
  background-color: #007bff !important;
  color: white;
  text-align: center;
}
